<div class="content-container">
	<h2>Search</h2>
	<!-- form for book search -->
	<form class="form-inline">
	  <div class="form-group">
	    <input type="text" class="form-control" id="titleSearch" placeholder="Title" ng-model="title"/>
	  </div>
	  <div class="form-group">
	    <input type="text" class="form-control" id="authorSearch" placeholder="Author" ng-model="author"/>
	  </div>
	  <button type="submit" class="btn btn-default" ng-click="loadSearchResults(title,author)">Search</button>
	</form>

	<!-- Search Results go Here -->
	<div class="table-responsive">
  <table class="table">
    <thead>
    	<tr>
    		<th>Title</th>
    		<th>Author</th>
    		<th>Add to Read List</th>
    		<th>Add to Wish List</th>
    	</tr>
    </thead>
    <tbody>
    	<tr ng-repeat="result in searchResults" ng-click="getBookDetails(result.id)">
    	  <td>{{result.volumeInfo.title}}</td>
    	  <td>{{result.volumeInfo.authors[0]}}</td>	
    	  <td><button>Read</button></td>
    	  <td><button>Wish List</button></td>
    	</tr>
    </tbody>
  </table>
</div>
</div>